*{
	margin: 0; 
	padding: 0;
	font-family: 'Roboto',arial,Helvetica,sans-serif;
    font-size: 14px;
}
a{
	text-decoration: none;
}
ul{
	list-style-type: none;
}
li{
	display: inline-block;
}
#myHeader{
	z-index: 99999;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.top{
	display: flex;
	width: 100%;
	height: 40px;
	background-color: #f2f2f2;
	position: relative;
}
.top a{
	text-transform: uppercase;
	color: #555;
	font-weight: bold;
}
.top-left > ul > li{
	float: left;
	white-space: nowrap;
	margin-right: 20px;
	margin-top: 5px;
}
.top-left > ul > li a{
	font-size: 11px;
}
.top-right{
	float: right;
	margin-top: 12px;	
}
.top-right a{
	font-size: 11px;
    color: #000;
}

.header{
	display: flex;
	width: 100%;
	height: 110px;
	background-color: #ce0707;
	position: relative;
}
.logo{
	vertical-align: middle;
	padding: 15px;
	float: left;
}
.search{
	float: left;
	width: 40%;
	height: 42px;
	border: none;
	border-radius: 5px;
	background-color: white;
	box-sizing: border-box;
	margin-top: 35px;
}
.selectSearch{
	height: 39px;
	border: none;
	padding-left: 10px;
	margin-left: 5px;
	align-items: center;
	-webkit-appearance: none;
	outline: none;
}
.searchItem{
	width: 60%;
	height: 42px;
	border: none;
	outline: none;
}

.submitBtn{
	height: 42px;
    width: 45px;
    border: none;
    cursor: pointer;
    float: right;
    position: absolute;
    background-color: white;
    border-radius: 5px;
}
.header-right{
	float: right;
	height: 60px;
	margin-top: 25px;
	margin-left: 50px;
}
.header-right a{
	display: block;
    float: left;
    margin-left: 25px;
}
.header-right a > span{
	color: white;
	font-weight: bold;
	display: block;
}
.nav{
	width: 100%;
	height: 55px;
	background-color: white;
    display: block;
}
.nav a{
	display: block;
}
.nav-item{
	margin: auto;
    position: relative;
    box-sizing: border-box;
}
.sub_nav{
	display: none;
	position: absolute;
    text-align: left;
    left: 0;
    width: 100%;
    top: 100%;
    background: #fff;
    border:1px solid #eee;
    overflow: hidden;
    box-shadow: 0 5px 10px #555;
    top:55px;
}
.nav-item > ul{
	padding-top: 5px;
}
.nav-item > ul > li{
	height: 55px;
    float: left;
    padding: 0 8px;
    text-align: center;
}
.nav-item > ul > li > a{
	font-weight: bold;
	font-size: 12px;
	color: black;
}
.nav-item > ul > li span.icon_root{
	padding-top: 5px;
    line-height: 30px;
}
.nav-item > ul > li span > img{
	height: 17px;
	width: auto;
}
.nav-item > ul > li:hover{
	background-color: black;
}
	.nav-item > ul > li:hover > a{
	color: white;
	}
	.nav-item > ul > li:hover > .sub_nav{
	display: block;
    z-index:99;
	}
.sub_nav .box_cate{
	padding: 10px;
    float: left;
    line-height: 24px;
    width: 15%;
}
.sub1{
	font-weight: bold;
	color: #d00;
}
.sub2{
	color: black;
}