aside{
    border: 1px solid black;
    padding:10px;
    height: 100%;
}
.row{
    padding: 5px;
}
.rightbar {
    border: 1px solid black;
}
.space{
    height: 30px;
}
.GroupSV{
    width: 100%;
}
formCreate {
    width: 100%;
}
.btnForm{
    margin-top: 150px; 
}
.GroupSV .row{
    width: 100%;
    margin: auto;
    border-bottom: 1px solid grey;  
}
.GroupSV > .row {
    font-weight: bold;
}
.GroupSV .row:nth-child(2n+2) {
    background-color: #cce6ff;
}
