*{
	margin: 10px; padding: 10px
}
p{
	text-align: center;
}
.none{
	border: 10px none;
}
.dot{
	border: 10px dotted skyblue;
}
.other{
	border-top: 10px dashed red;
	border-left: 10px solid green;
	border-right: 10px double blue;
	border-bottom:10px groove black; 
}
